#formularioProduto, #listaProdutos {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#mensagem {
    display: none;
}

#listaProdutos{
    display: none;
}
